fastapi
uvicorn
requests
instagrapi
pydantic
python-dotenv
sqlalchemy
aiosqlite
requests>=2.31.0
llama-index>=0.10.12
llama-index-llms-ollama
llama-index-embeddings-huggingface
transformers
chromadb
llama-index-vector-stores-chroma

